.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.content-wrapper {
  display: flex;
  flex: 1;
  margin-top: 70px;
}